APP_NAME=rails

DATABASE_NAME=rails
DATABASE_USERNAME=docker
DATABASE_PASSWORD=docker
DATABASE_HOST=rails_mysql

FORWARD_DB_PORT=3307

RAILS_MAX_THREADS=5

SECRET_KEY_BASE=rails
SENDGRID_API_KEY=rails
